/.DS_Store
/.Rhistory
/README.md
/__pycache__
/archive
/audio_output
/backgroud.png
/configs
/female.png
/male.png
/output
/outputs_eb701986-db07-4d2b-b1d3-2a4042c181bc_300f7b00bd5b3a46894f4d73bec24322_ComfyUI_addc9c0e_00001_.png
/outputs_eb701986-db07-4d2b-b1d3-2a4042c181bc_300f7b00bd5b3a46894f4d73bec24322_ComfyUI_addc9c0e_00001__副本.png
/outputzhanggao.png
/requirements.txt
/run.sh
/s41538-022-00170-2.pdf
/setup_ffmpeg8_env.sh
/test_in
/tts_batch.py
/tts_generator.py
/video_generator.py
/video_generator_agent.md
/video_generator_config.yaml
/video_generator_config.yaml.example
/文献解读_五粮液白酒抗血栓作用.docx
/文献解读_五粮液白酒抗血栓作用.md
/文献解读对话文案-2.md
/文献解读对话文案-放疗诱导髓系细胞浸润.md
/生成放疗科学插画.png
/生成脑转移瘤卡通摘要图.png
/生成脑转移瘤卡通摘要图_副本.png
/脑转移瘤蛋白质基因组学文献解读对话文案.md